<div class="wrap" style="overflow-x: hidden;">
<head-menu></head-menu>
    <div class="schedul-wrap" layout="row" layout-align="space-around stretch">
        <div flex="15" class="schedul" ng-repeat="item in scheduledit.hours">
            <div class="head-schedul" ng-style="{'color': '#c46a56'}" layout="column" layout-align="center center">
                <div class="day-schedul" layout="row" layout-align="start center">Day {{$index + 1}}
                    <md-button class="md-fab md-mini" ng-click="main.edit(item)"  aria-label="red">
                        <md-icon md-svg-src="assets/icons/edit.svg" class="white"></md-icon>
                    </md-button>
                </div>
                <div class="big-value-schedul">23&deg;C</div>
                <div class="disc">DESIRED TEMP</div>
            </div>
            <md-content class="card-wrap">
                <div class="card-schedul" ng-repeat="hour in item" layout="column" layout-align="center stretch">
                    <div class="min-schedul" ng-repeat="min in hour.min track by $index" style="background-color: {{min || '#677274'}}" layout="column"
                        layout-align="center stretch">
                        <div ng-if="$index == 3" layout="row" layout-align="start  center">
                            <hr flex="20">
                            <div flex="10"></div>
                            <span flex="50">{{hour.h}}:00</span>
                            <hr flex="20">
                        </div>
                    </div>
                </div>
            </md-content>
        </div>
    </div>
</div>