<div  ng-controller="AppCtrl" layout="column" ng-cloak style="background:#f2f3f5">

    <section layout="row" flex>

        <md-sidenav class="md-sidenav-left" style="background:#1d5183; opacity: 0.9;" md-component-id="left" md-disable-backdrop
            md-whiteframe="4">

            <md-toolbar class="toolbar" style="background: #1d5183;" layout="column" layout-align="start start">
                <div>
                    <md-icon md-svg-src="assets/icons/list.svg" class="white"></md-icon>
                    <a style="margin-left: 50px;font-weight: bold;" href="/">DESHBORD</a>
                </div>
                <a ui-sref="schedule">SCHADULE - ROOMS</a>
                <a ui-sref="schedule">SCHADULE - WEEK</a>
                <a>HISTORY</a>
                <a>SOLAR</a>
                <a>BATTERY</a>
                <a>SMART PLUGS</a>
            </md-toolbar>

            <md-content layout-margin style="background:#1d5183; opacity: 0.9;">
                <md-button ng-click="toggleLeft()" class="md-accent" aria-label="red">
                    <md-icon md-svg-src="assets/icons/close.svg" class="white"></md-icon>
                </md-button>
            </md-content>

        </md-sidenav>

        <md-content flex layout-padding style="background: aliceblue;">

            <div layout="row" layout-align="start center">
                <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="red">
                    <md-icon md-svg-src="assets/icons/list.svg" class="white"></md-icon>
                </md-button>
                <h3>DESHBORD</h3>
            </div>


        </md-content>

    </section>

</div>