<div layout="row" layout-align="space-between stretch">
    <section flex='20'>
        <md-item ng-repeat="dialog in main.dialogs" ng-click="main.selectDialog(dialog.id)">
            <md-item-content layout="column" layout-align="start center">
                <div class="inset">{{dialog.subject}}</div>
                <div class="inset">{{dialog.created}}</div>
            </md-item-content>
            <md-divider md-inset hide-sm ng-if="!$last"></md-divider>

        </md-item>

    </section>
    <md-card ng-controller="MessagesController" flex='70'>
        <md-card-content ng-show="showMessage">
            <h2>Messages</h2>
            <md-content  layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate" class="md-accent md-hue-2" md-diameter="96" ng-show="showSpinner"></md-progress-circular>
            </md-content>
            <md-item ng-repeat="part in messages.parts" ng-if="!showSpinner">
                <md-item-content layout="column" layout-align="start center">
                    <div class="inset">{{part.author}}</div>
                    <div class="inset">{{part.text}}</div>
                </md-item-content>
                <md-divider md-inset hide-sm></md-divider>
            </md-item>
            <div layout="column" layout-align="start center">
                <md-input-container class="md-block">
                    <label>New Message</label>
                    <input md-no-asterisk name="description" type="text" ng-model="newMessage" ng-disabled="showSpinner">
                </md-input-container>
                <md-button class="md-raised md-primary" ng-click="sendMessage()" ng-disabled="showSpinner">Send Message</md-button>
            </div>
        </md-card-content>
    </md-card>
</div>