<div class="wrap">
    <head-menu></head-menu>

    <md-divider></md-divider>

    <div ng-if="!batteries.data" layout="row" layout-sm="column" layout-align="center center">
        <md-progress-circular md-colors="{color:'primary'}" md-mode="indeterminate" md-diameter="96"></md-progress-circular>
    </div>
    <section ng-if="batteries.data" layout="column" layout="space-around center" layout-gt-md="row" layout-wrap layout-align-gt-md="space-around start">
        <div class="card-occupancy" flex-gt-md="45" layout="column" layout="center center" layout-wrap ng-repeat="item in batteries.data">
            <md-card layout="column">
                <div flex="100" layout="row">
                    <div flex="5"></div>
                    <div layout="column" flex="15" layout="center center" layout-wrap>
                        <div flex="10"></div>
                        <div flex="20">
                            <div class="day">BATTERY 1</div>
                        </div>
                        <div flex="10"></div>
                        <div flex layout="column" layout="space-around center">
                            <div class="solar-circle-text" layout="row" layout="center space-around">
                                <div class="solra-circle-green"></div>
                                <div>ENERGY CHARGED</div>
                            </div>
                           
                            <div class="solar-circle-text" layout="row">
                                <div class="solra-circle-red"></div>
                                <div>ENERGY USED</div>
                            </div>
                        </div>
                        <div style="color: #ec7f74; font-size: 12px;margin-bottom: 10px;">
                            CURRENT CHARGE 10%
                        </div>
                    </div>
                    <div flex class="chart-wrap" layout="column">
                        <div flex="10" layout="row" layout-align="space-between center">
                            <div flex="10"></div>
                            <div flex="45">MON / SEP 13</div>
                            <div flex="45" layout="row">
                                <div style="text-decoration:underline">DAY</div>
                                <div flex="10"></div>
                                <div>WEEK</div>
                                <div flex="10"></div>
                                <div>MONTH</div>
                            </div>
                        </div>
                        <area chart="{{$index}}" data="batteries.chartData" flex></area>
                        <div flex="5">
                            <div class="hours-wrap" layout="row" layout-align="space-between center">
                                <div class="hour">00:00</div>
                                <div class="hour">06:00</div>
                                <div class="hour">12:00</div>
                                <div class="hour">18:00</div>
                                <div class="hour">00:00</div>
                            </div>
                            <!--<div class="line vertical-0"></div>
                            <div class="line vertical-6"></div>
                            <div class="line vertical-12"></div>
                            <div class="line vertical-18"></div>
                            <div class="line vertical-00"></div>
                            <div class="line horizontal"></div>
                            <div class="line vertical-0-md" hide-sm hide-xs hide-md></div>
                            <div class="line vertical-6-md" hide-sm hide-xs hide-md></div>
                            <div class="line vertical-12-md" hide-sm hide-xs hide-md></div>
                            <div class="line vertical-18-md" hide-sm hide-xs hide-md></div>
                            <div class="line vertical-00-md" hide-sm hide-xs hide-md></div>
                            <div class="line horizontal-md" hide-sm hide-xs hide-md></div>-->

                        </div>
                        <div flex="5"></div>
                    </div>
                </div>
                <!--<div flex="20" class="occupancy" layout="row" layout-align="start center">
                    <div class="label">Occupancy</div>
                    <div flex="5" hide-xs></div>
                    <div flex="5" hide-xs hide-sm hide-gt-md></div>
                    <div layout="row" class="bar-wraper" layout-align="space-between center">
                        <div flex="5" class="bar" layout="column" layout-align="space-between center" ng-repeat="data in solar.chartData">
                            <div flex="15"></div>
                            <div flex="15"></div>
                            <div class="fill" flex="15"></div>
                            <div class="fill" flex="15"></div>
                            <div class="fill" flex="15"></div>
                        </div>
                    </div>
                </div>-->
            </md-card>
        </div>
    </section>
</div>